.window-bar {
    display: flex;
    border-bottom: 0.5px solid var(--outline);
    box-shadow: 0px 0px 13px 3px rgba(0, 0, 0, 0.5);
    background-color: var(--primary-background);
    align-items: center;
    z-index: 9999999;
}
.window-bar .window-bar-left {
    /*padding: 10px;*/
    display: flex;
}
.window-bar .window-bar-dragger {
    flex: 1;
    -webkit-app-region: drag;
    min-height: 100%;
    padding: 20px;
}
.window-bar .window-bar-right {
    align-self: center;
    display: flex;
    gap: 5px;
}
.window-bar-button {
    -webkit-appearance: none;
    border: none;
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 11px;
    width: 40px;
    height: 40px;
}
.window-bar-button:hover {
    background: var(--secondary);
}
.window-bar-button:hover.window-close {
    background-color: var(--theme-error);
}
.window-bar-button img {
    width: 18px;
    height: 18px;
}
.window-bar-mac-buttons {
    display: flex;
    padding-left: 8px;
}
.window-bar-button-mac {
    -webkit-appearance: none;
    border: none;
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 11px;
    padding-right: 8px;
    padding-left: 8px;
    height: 40px;
}
.window-bar-button-mac:hover .mac-roundy {
    filter: brightness(1.4);
    background-blend-mode: multiply;
}
.window-bar-button-mac .mac-roundy {
    background-color: #4f4f4f;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}
.mac-roundy.close {
    background-color: var(--macos-close);
}
.mac-roundy.minimize {
    background-color: var(--macos-minimize);
}
.mac-roundy.full {
    background-color: var(--macos-fullscreen);
}
.canvas-container {
    z-index: -1;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
}
.canvas-container canvas {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}